@model shophoatuoi.Models.Mausac

@{
    ViewData["Title"] = "Create";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">           
        <div class="body">
            <form asp-controller="MAUSACs" asp-action="Create" method="post" class="form-horizontal" style="font-family:'Times New Roman', Times, serif;">
                <div class="row clearfix" style="font-family:'Times New Roman', Times, serif; width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <h3>
                            Tạo Mới Màu Sắc
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Mã Màu Sắc</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="MsMa" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CdTen">Tên Màu Sắc</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="MsTen" type="text" class="form-control" placeholder="Nhập Màu Sắc"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <input type="submit" value="Tạo Mới" class="btn btn-danger" />
                        <button type="button" class=" btn btn-primary">  <a asp-action="Index">Quay Trở Lại</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>