<div class="best-sell-product">
    <div class="best-product-img">
        <a href="#"><img src="~/TemplatessSanPham/img/product/best-product-2.png" alt="product"></a>
    </div>
    <div class="best-product-content">
        <h2><a href="#">Et harum quidem red T-shirt</a></h2>
        <h3>$45.00</h3>
        <div class="best-product-rating">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star-o"></i></a>
        </div>
    </div>
</div>
<p class="view-details">
    <a href="#" style="background-color: hotpink;">Xem Chi Tiết</a>
</p>
