
<div class="panel-group" id="accrodian">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-female"></i> Chủ Đề
                <a class="collapsed" data-toggle="collapse" href="#colThree" data-parent="#accrodian"></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="colThree">
            <div class="panel-body">
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-odnoklassniki"></i> Hình Thức
                <a class="collapsed" data-toggle="collapse" href="#colFour" data-parent="#accrodian"></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="colFour">
            <div class="panel-body">
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-gift"></i> Màu Sắc
                <a class="collapsed" data-toggle="collapse" href="#colFive" data-parent="#accrodian"></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="colFive">
            <div class="panel-body">
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-coffee"></i> Thể Loại
                <a class="collapsed" data-toggle="collapse" href="#colSeven" data-parent="#accrodian"></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="colSeven">
            <div class="panel-body">
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
            </div>
        </div>
    </div>
</div>
