<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>SHOP HOA TƯƠI ONLINE</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Core Css -->
    <link href="~/Templatess/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Templatess/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Templatess/plugins/animate-css/animate.css" rel="stylesheet" />

        <!-- Sweet Alert Css -->
    <link href="~/Templatess/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <link href="~/Templatess/pages/ui/dialogs.html" rel="stylesheet">
    <link href="~/Templatess/plugins/waitme/waitMe.css" rel="stylesheet" />


    <!-- Morris Chart Css-->
    <link href="~/Templatess/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Templatess/css/style.css" rel="stylesheet" />

    <link href="~/Templatess/pages/ui/colors.html" rel="stylesheet" />

    <link href="~/Templatess/images/user-img-background.jpg" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Templatess/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/Templatess/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Templatess/plugins/dropzone/dropzone.css" rel="stylesheet">

    <link href="~/Templatess/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="~/Templatess/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

    <!-- Multi Select Css -->
    <link href="~/Templatess/plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="~/Templatess/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="~/Templatess/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="~/Templatess/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link href="~/Templatess/plugins/nouislider/nouislider.min.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <nav class="navbar">
        <div class="container-fluid">
            <nav class="navbar" style="background-color:MediumVioletRed; font-family:'Times New Roman', Times, serif;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand" href="index.html">SHOP HOA TƯƠI ONLINE</a>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info" style="background-image: url('/Templatess/images/lilac-4250869__340.webp');">
                <div class="image">
                    <img src="~/Templatess/images/hh.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" style="color: red;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP HOA TƯƠI</div>
                    <div class="email" style="color: red;">shophoatuoi@gmail.com</div>

                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list" style="font-family:'Times New Roman', Times, serif;">
                    <li class="header" style="color:red;">QUẢN TRỊ CỬA HÀNG</li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">view_list</i>
                            <span>
                                Quản Lí Sản Phẩm
                            </span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="~/baiviets">
                                    <i class="material-icons">menu_book</i>
                                    <span>Bài Viết</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/sanphams">
                                    <i class="material-icons">card_giftcard</i>
                                    <span>Sản Phẩm</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Chudes">
                                    <i class="material-icons">dashboard</i>
                                    <span>Chủ Đề</span>
                                </a>
                            </li>

                            
                            <li>
                                <a href="~/hinhthucs">
                                    <i class="material-icons">flip_to_back</i>
                                    <span>Hình Thức</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Mausacs">
                                    <i class="material-icons">color_lens</i>
                                    <span>Màu Sắc</span>
                                </a>
                            </li>

                            <li>
                                <a href="~/Theloais">
                                    <i class="material-icons">settings_brightness</i>
                                    <span>Thể Loại</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">view_list</i>
                            <span>Quản Lí Giỏ Hàng</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="~/hoadons">
                                    <i class="material-icons">shopping_cart</i>
                                    <span>Hóa Đơn</span>
                                </a>
                            </li>

                            <li>
                                <a href="~/Khachhangdats">
                                    <i class="material-icons">how_to_reg</i>
                                    <span>Khách Hàng Đặt</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">view_list</i>
                            <span>Quản Lí Nhân Sự</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="~/chucvus">
                                    <i class="material-icons">group_work</i>
                                    <span>Chức Vụ</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/nhansus">
                                    <i class="material-icons">accessibility</i>
                                    <span>Nhân Sự</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </aside>
    </section>
    
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <!-- #END# Left Sidebar -->
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header" style=" background-color: white; text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: red ; ">
                                
                                <h1>
                                    ĐỒ ÁN 2
                                    
                                </h1>
                            </div>
                            <div class="user-info" style="background-image: url('/Templatess/images/lilac-4250869__340.webp');">
                                
                            <div class="body">
                                <form class="form-horizontal"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: red" >
                                    

                                    <div class="row clearfix" style="color: red;">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label" >
                                            <label for="password_2">KHOA:</label>
                                            
                                        </div>
                                        
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7"style="color: red;" >
                                            <div class="form-group" >
                                                <div class="form-line" >
                                                    <input type="password" id="password_2" class="form-control"  placeholder="CÔNG NGHỆ THÔNG TIN" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label" >
                                            <label for="password_2">CHUYÊN NGÀNH:</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="password" id="password_2" class="form-control" placeholder="HỆ THỐNG THÔNG TIN" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label" >
                                            <label for="password_2">ĐỀ TÀI:</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="password" id="password_2" class="form-control" placeholder="WEBSITE KINH DOANH HOA TƯƠI ONLINE" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                            <label for="email_address_2">GVHD:</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="email_address_2" class="form-control" placeholder="THS.NGUYỄN TRUNG VIỆT" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label" >
                                            <label for="password_1">SVTH:</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="password" id="password_1" class="form-control" placeholder="LÊ NGỌC ĐÀO" disabled>
                                                    <input type="password" id="password_1" class="form-control" placeholder="TRẦN THỊ DIỂM NGÂN" disabled>
                                                    <input type="password" id="password_1" class="form-control" placeholder="TRẦN TẤN ĐẠT" disabled>
                                                    <input type="password" id="password_1" class="form-control" placeholder="TRẦN QUỐC THÁI" disabled>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Bootstrap Core Js -->
    <script src="~/Templatess/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Templatess/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Moment Plugin Js -->
    <script src="~/Templatess/plugins/momentjs/moment.js"></script>
    
    <!-- Autosize Plugin Js -->
    <script src="~/Templatess/plugins/autosize/autosize.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Templatess/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Templatess/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Templatess/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Templatess/plugins/raphael/raphael.min.js"></script>
    <script src="~/Templatess/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/Templatess/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/Templatess/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/Templatess/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/Templatess/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/Templatess/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/Templatess/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/Templatess/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->

    <script src="~/Templatess/js/pages/index.js"></script>

    <script src="~/Templatess/plugins/jquery/jquery.min.js"></script>


    <script src="~/Templatess/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Templatess/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <script src="~/Templatess/js/admin.js"></script>
    <script src="~/Templatess/js/pages/tables/jquery-datatable.js"></script>

    <script src="~/Templatess/plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="~/Templatess/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="~/Templatess/plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="~/Templatess/plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/Templatess/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="~/Templatess/plugins/nouislider/nouislider.js"></script>

    <script src="~/Templatess/js/pages/forms/advanced-form-elements.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Templatess/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/Templatess/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Custom Js -->
    <script src="~/Templatess/js/pages/forms/basic-form-elements.js"></script>
    <!-- Demo Js -->
    <script src="~/Templatess/js/demo.js"></script>

    <script src="~/Templatess/plugins/sweetalert/sweetalert.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>