@model shophoatuoi.Models.Nhansu

@{
    ViewData["Title"] = "Edit";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">           
        <div class="body">
            <form asp-controller="Nhansus" asp-action="Edit" method="post" class="form-horizontal" style="font-family:'Times New Roman', Times, serif;">
                <div class="row clearfix" style="font-family:'Times New Roman', Times, serif; width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <h3>
                            Cập Nhật Nhân Sự
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Mã</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="NsMa" class="form-control" readonly/>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CdTen">Chức Vụ</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <select asp-for="CvMa" class="form-control show-tick" asp-items="ViewBag.CvTen"></select> 
                                <span asp-validation-for="CvMa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">Họ Tên</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                 <input asp-for="NsHoten" class="form-control" />
                                <span asp-validation-for="NsHoten" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">Năm Sinh</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                 <input asp-for="NsNamsinh" class="form-control" />
                                <span asp-validation-for="NsNamsinh" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">CMND</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                 <input asp-for="NsCmnd" class="form-control" />
                                <span asp-validation-for="NsCmnd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">Số Điện Thoại</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                 <input asp-for="NsSdt" class="form-control" />
                                <span asp-validation-for="NsSdt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">Địa Chỉ</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                 <input asp-for="NsDiachi" class="form-control" />
                                <span asp-validation-for="NsDiachi" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CvTen">Tài Khoản</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="NsUsername" class="form-control" />
                                <span asp-validation-for="NsUsername" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="CvTen">Mật Khẩu</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="NsPassword" class="form-control" />
                                <span asp-validation-for="NsPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <input type="submit" value="Lưu" class="btn btn-danger" />
                        <button type="button" class=" btn btn-primary">  <a asp-action="Index">Quay Trở Lại</a> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

