@model shophoatuoi.Models.Chitiethoadon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chitiethoadon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CthdMa" />
            <div class="form-group">
                <label asp-for="SpMa" class="control-label"></label>
                <select asp-for="SpMa" class="form-control" asp-items="ViewBag.SpMa"></select>
                <span asp-validation-for="SpMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdMa" class="control-label"></label>
                <select asp-for="HdMa" class="form-control" asp-items="ViewBag.HdMa"></select>
                <span asp-validation-for="HdMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhMa" class="control-label"></label>
                <select asp-for="KhMa" class="form-control" asp-items="ViewBag.KhMa"></select>
                <span asp-validation-for="KhMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CthdSoluong" class="control-label"></label>
                <input asp-for="CthdSoluong" class="form-control" />
                <span asp-validation-for="CthdSoluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CthdTamtinh" class="control-label"></label>
                <input asp-for="CthdTamtinh" class="form-control" />
                <span asp-validation-for="CthdTamtinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CthdPhigiaohang" class="control-label"></label>
                <input asp-for="CthdPhigiaohang" class="form-control" />
                <span asp-validation-for="CthdPhigiaohang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CthdThanhtien" class="control-label"></label>
                <input asp-for="CthdThanhtien" class="form-control" />
                <span asp-validation-for="CthdThanhtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

