@model shophoatuoi.Models.Chitiethoadon

@{
    ViewData["Title"] = "Edit";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">           
        <div class="body">
            <form asp-controller="Chitiethoadons" asp-action="Edit" method="post" class="form-horizontal" style="font-family:'Times New Roman', Times, serif;">
                <div class="row clearfix" style="font-family:'Times New Roman', Times, serif; width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <h3>
                            Cập Nhật Chi Tiết Hóa Đơn
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Mã Chi Tiết Hóa Đơn</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="HdMa" class="form-control" readonly/>  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="SpMa">Mã Sản Phẩm</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <select asp-for="SpMa" class="form-control" asp-items="ViewBag.SpMa"></select>
                                <span asp-validation-for="SpMa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="HdMa">Mã Hóa Đơn</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <select asp-for="HdMa" class="form-control" asp-items="ViewBag.HdMa"></select>
                                <span asp-validation-for="HdMa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="KhMa">Mã Khách Hàng</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <select asp-for="KhMa" class="form-control" asp-items="ViewBag.KhMa"></select>
                                <span asp-validation-for="KhMa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CthdSoluong">Số Lượng</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="CthdSoluong" class="form-control" />
                                <span asp-validation-for="CthdSoluong" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CthdTamtinh">Tạm Tính</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="CthdTamtinh" class="form-control" />
                                <span asp-validation-for="CthdTamtinh" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CthdPhigiaohang">Phí Giao Hàng</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="CthdPhigiaohang" class="form-control" />
                                <span asp-validation-for="CthdPhigiaohang" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="CthdThanhtien">Thành Tiền</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="CthdThanhtien" class="form-control" />
                                <span asp-validation-for="CthdThanhtien" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="width: 50%; margin: 0px auto; text-align:center;">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                        <input type="submit" value="Lưu" class="btn btn-danger" />
                        <button type="button" class=" btn btn-primary">  <a asp-action="Index">Quay Trở Lại</a> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

